.app__eligibility-bubble {
    -webkit-transform: translate(50%,0%);
    transform: translate(50%,1450%);
    position: absolute;
    right: 15%;
    z-index: 5;
    width: 10%;
}

.app__eligibility-bottle {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(20%,1800%);
    position: absolute;
    width: 30%;
    right: 15%;
    z-index: 5;
}

.app__eligibility-bottle img {
    animation: fadeInFromTop 1s linear forwards, floatingeligibility ease 10s infinite;
}

@keyframes floatingeligibility {
    0% {
        transform: translate(0%, 0%) rotate(360deg);
    }
    25% {
        transform: translate(10%, 1%) rotate(360deg);
    }
    50% {
        transform: translate(5%, 2%) rotate(360deg);
    }
    75% {
        transform: translate(10%, 1%) rotate(360deg);
    }
    100% {
        transform: translate(0%, 0%) rotate(360deg);
    }
}

@media screen and (max-width: 1700px) {
    .app__eligibility-bubble {
        transform: translate(50%,1400%);
    }
}

@media screen and (max-width: 850px) {
    .app__eligibility-bubble {
        transform: translate(50%,1350%);
    }

    .app__eligibility-bottle {
        right: 23%;
    }
}

@media screen and (max-width: 500px) {
    .app__eligibility-bubble {
        transform: translate(50%,1320%);
    }

    .app__eligibility-bottle {
        transform: translate(20%,1750%);
        right: 25%;
    }
}