.app__prizes-bubble {
    -webkit-transform: translate(50%,0%);
    transform: translate(50%,1150%);
    position: absolute;
    left: 7%;
    z-index: 5;
    width: 10%;
}

.app__prizes-bottle {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(20%,500%);
    position: absolute;
    width: 22%;
    z-index: 5;
}

.app__prizes-bottle img {
    animation: fadeInFromTop 1s linear forwards, floatingprize ease 10s infinite;
}

.app__prizes-detail {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(20%,1570%);
    right: 15%;
    position: absolute;
    width: 30%;
    z-index: 5;
}

.app__prizes-detail img {
    width: 100%;
    transition: all 0.5s ease;
}

.app__prizes-detail img:hover {
    transform: scale(1.1);
}

@keyframes floatingprize {
    0% {
        transform: translate(0%, 0%) rotate(360deg);
    }
    25% {
        transform: translate(15%, 5%) rotate(360deg);
    }
    50% {
        transform: translate(10%, 5%) rotate(360deg);
    }
    75% {
        transform: translate(15%, 5%) rotate(360deg);
    }
    100% {
        transform: translate(0%, 0%) rotate(360deg);
    }
}


@media screen and (min-width: 1750px) {
    .app__prizes-detail {
        transform: translate(20%,1600%);
    }
}

@media screen and (max-width: 1700px) {
    .app__prizes-bubble {
        transform: translate(50%,1150%);
    }
}

@media screen and (max-width: 1280px) {
    .app__prizes-bubble {
        transform: translate(50%,1120%);
    }
}

@media screen and (max-width: 850px) {
    .app__prizes-detail {
        transform: translate(20%,1550%);
    }
}

@media screen and (max-width: 670px) {
    .app__prizes-detail {
        transform: translate(20%,1530%);
    }
}

@media screen and (max-width: 500px) {
    .app__prizes-bubble {
        transform: translate(50%,1000%);
    }

    .app__prizes-detail {
        transform: translate(20%,1500%);
    }
}

@media screen and (max-width: 400px) {
    .app__prizes-detail {
        transform: translate(20%,1480%);
    }
}

@media screen and (max-width: 400px) {
    .app__prizes-detail {
        transform: translate(20%,1460%);
    }
}

@media screen and (max-width: 300px) {
    .app__prizes-detail {
        transform: translate(20%,1440%);
    }
}