.app__register-button {
    -webkit-transform: translate(50%,340%);
    transform: translate(50%,180%);
    position: absolute;
    right: 20%;
    z-index: 10;
    width: 20%;
}

.app__register-button img {
    transition: all 0.5s ease;
}

.app__register-button img:hover {
    transform: scale(1.1);
}

